{% extends "base.html" %}

{% block title %}{{event.title}}{% endblock %}


{% load static %}

{% block extracss %}

<link rel="stylesheet" href="{% static 'events/css/style.css' %}" />
{% endblock %}

{#{% load my_md %}#}

{% block content %}
<h1 id="event" class="text-center tk-cooper-black-std">{{event.title}}</h1>
<div class="container-fluid">
    {% if event %}

        <div class="row event">
            <div class="col-md-5 col-md-offset-1" id="description">
                {% if event.is_cancelled %}
                <h3 class="alert alert-danger text-center" role="alert">CANCELLED</h3>
                {% endif %}

                <section class="event-date-time">
                    <span class="glyphicon glyphicon-map-marker"></span>
                    <strong>{{event.location.venue}}</strong>,
                    {{event.location.address1}}
                    {% if event.location.address2 %}, {{event.location.address2}}{% endif %}
                    , {{event.location.city|capfirst}}
                    <br/>
                    <span class="glyphicon glyphicon-calendar"></span>
                    <span class="highlight">{{event.start_datetime|date:"d M Y"}} ({{ event.start_datetime|time:"H:i" }}) - {{event.end_datetime|date:"d M Y"}} ({{ event.end_datetime|time:"H:i" }}) </span>

                </section>
                {% if not workshop_ended %}
                <h3><span class="glyphicon glyphicon-time"></span>
                    Начало через {{ event.start_datetime|timeuntil }} .</h3>
                {% endif %}

                <h2>Темы для обсуждения
                    <small>
                        {% for topic in event.topics.all %}
                            <span class="label label-info">{{ topic }}</span>
                        {% endfor %}
                    </small>
                </h2>
                <h2>Подробное описание</h2>
            <div class="row event">
                    {{event.description|safe}}
                </div>
            </div>
        </div>
    {% else %}
        <h1>Ошибка, такого события не найдено. </h1>
    {% endif %}



</div>
{% endblock %}

