{% extends "base.html" %}

{% block title %}{{event.title}}{% endblock %}


{% load staticfiles %}
{% block extracss %}

<link rel="stylesheet" href="{% staticfiles 'events/css/style.css' %}" />


{% endblock %}

{#{% load my_md %}#}

{% block content %}
<h1 id="event" class="text-center tk-cooper-black-std">{{event.title}}</h1>
<div class="container-fluid">
    {% if event %}

        <div class="row event">
            <div class="col-md-5 col-md-offset-1" id="description">
                {% if event.is_cancelled %}
                <h3 class="alert alert-danger text-center" role="alert">CANCELLED</h3>
                {% endif %}

                <section class="event-date-time">
                    <span class="glyphicon glyphicon-map-marker"></span> <strong>{{event.location.venue}}</strong>, {{event.location.address1}}{% if event.location.address2 %}, {{event.location.address2}}{% endif %}, {{event.location.city|capfirst}}
                    <br/>
                    <span class="glyphicon glyphicon-calendar"></span> {{event.start_datetime|date:"D, dS M Y"}} {{ event.start_datetime|time:"H:i" }} till {{ event.end_datetime|time:"H:i" }}

                </section>
                {% if not workshop_ended %}
                <h3><span class="glyphicon glyphicon-time"></span> {{ event.start_datetime|timeuntil }} left to reserve your place.</h3>
                {% endif %}

                <h2>Event details <small> {% for topic in event.topics.all %}<span class="label label-info">{{ topic }}</span> {% endfor %}</small></h2>

                {{event.description|safe}}



            </div>
        </div>

        <div class="row event" id="faq">
            <div class="col-md-5 col-md-offset-1">
                {% include "disqus_common.html" %}
            </div>

        </div>
    {% else %}
        <h1>Whoops, no event here</h1>
    {% endif %}



</div>
{% endblock %}

