{% extends "base.html" %}
{% block title %}Events{% endblock %}

{% load static %}

{% block extracss %}

{#<link rel="stylesheet" href="{% static '/events/css/style.css' %}" />#}

{% endblock %}


{#{% load my_md %}#}


{% block content %}
{% if search %}
    <h1 id="events" class="text-center tk-cooper-black-std">Найденные события</h1>
    {% else %}
<h1 id="events" class="text-center tk-cooper-black-std">Предстоящие события</h1>
{% endif %}
    <div class="container-fluid">

    <div class="row events">

    {% if events_list %}
        {% for event in events_list %}
        <div class="col-md-2"></div>
        <div class="col-md-10">
            <h2 class="tk-cooper-black-std"> <a href="{{ event.get_absolute_url }}">{{event.title}}</a>
            </h2>
            <h3 class="tk-cooper-black-std">
                <small>
                    {% for topic in event.topics.all %}
                        <span class="label label-info">{{ topic }}</span>
                    {% endfor %}
                    {% if event.is_cancelled %}
                        <span class="label label-danger">Отменено</span>
                    {% endif %}
                </small>
            </h3>
            <div class="row">
                <section class="col-md-8">
                    <span class="glyphicon glyphicon-calendar"></span>
                    <span class="highlight">{{event.start_datetime|date:"d M Y"}} ({{ event.start_datetime|time:"H:i" }}) - {{event.end_datetime|date:"d M Y"}} ({{ event.end_datetime|time:"H:i" }}) </span>
                    <span class="glyphicon glyphicon-play"></span>
                    <span class="glyphicon glyphicon-time"></span> Начало через {{ event.start_datetime|timeuntil }}
                </section>
                <section class="col-md-8">
                    <span class="glyphicon glyphicon-map-marker"></span>
                    <span class="highlight">Место проведения: {{event.location|title}}</span>
                </section>
            </div>
            <div class="row">
                <section class="col-md-7">
                {% if event.description %}
                    {{event.description|safe|truncatewords:30}}
                {% endif %}
                </section>
                <section class="col-md-2">
                <a href="{{ event.get_absolute_url }}" class="btn btn-success btn-lg" role="button">Подробнее <span class="glyphicon glyphicon-chevron-right"></span></a>
                </section>
            </div>
        </div>
            {% if not forloop.last %}<hr>{% endif %}
        {% endfor %}
    {% else %}
        <div class="col-md-12 col-md-offset-1">
            <h1><span class="glyphicon glyphicon-wrench"></span> События с выбранными параметрами не найдены.</h1>
            <p>
                Возвращайтесь и проверьте позже.
            </p>
        </div>

    {% endif %}
    </div>
</div>
 {% if events_past %}
    <h1 id="events_past" class="text-center tk-cooper-black-std">Текущие и прошедшие события</h1>
<div class="container-fluid">
    <div class="row events">
        {% for event in events_past %}
        <div class="col-md-2"></div>
        <div class="col-md-10">
            <h2 class="tk-cooper-black-std"> <a href="{{ event.get_absolute_url }}">{{event.title}}</a>
            </h2>
            <h3 class="tk-cooper-black-std">
                <small>
                    {% for topic in event.topics.all %}
                        <span class="label label-info">{{ topic }}</span>
                    {% endfor %}
                    {% if event.is_cancelled %}
                        <span class="label label-danger">Отменено</span>
                    {% endif %}
                </small>
            </h3>
            <div class="row">
                <section class="col-md-8">
                    <span class="glyphicon glyphicon-calendar"></span>
                    <span class="highlight">{{event.start_datetime|date:"d M Y"}} ({{ event.start_datetime|time:"H:i" }}) - {{event.end_datetime|date:"d M Y"}} ({{ event.end_datetime|time:"H:i" }}) </span>
                </section>
                <section class="col-md-8">
                    <span class="glyphicon glyphicon-map-marker"></span>
                    <span class="highlight">Место проведения: {{event.location|title}}</span>
                </section>
            </div>
            <div class="row">
                <section class="col-md-7">
                {% if event.description %}
                    {{event.description|safe|truncatewords:30}}
                {% endif %}
                </section>
                <section class="col-md-2">
                <a href="{{ event.get_absolute_url }}" class="btn btn-success btn-lg" role="button">Подробнее <span class="glyphicon glyphicon-chevron-right"></span></a>
                </section>
            </div>
        </div>
            {% if not forloop.last %}<hr>{% endif %}
        {% endfor %}
    </div>
</div>
{% endif %}
{% endblock %}