{% extends "base.html" %}
{% block title %}Мои фильтры{% endblock %}

{% load static %}

{% block extracss %}

{#<link rel="stylesheet" href="{% static '/events/css/style.css' %}" />#}

{% endblock %}


{#{% load my_md %}#}


{% block content %}
    <div class="container-fluid">
    <h1 class="text-center tk-cooper-black-std"> </h1>
    </div>
    <div class="container-fluid">
    <h1 class="text-center tk-cooper-black-std"> </h1>
    </div>
<h1 id="my_filters" class="text-center tk-cooper-black-std">Мои фильтры</h1>
<div class="container-fluid">

    <div class="row events">

    {% if filters_list %}
        {% for filter in filters_list %}
        <div class="col-md-2"></div>
        <div class="col-md-10">
            <h3 class="tk-cooper-black-std">
                <small>
                    <span class="label label-info">- {{ filter.save_datetime|date:"d M Y" }} ({{ filter.save_datetime|time:"H:i" }})</span>
                </small>
            </h3>
            {% if filter.city %}
                <div class="row">
                <section class="col-md-8">
                    <span class="glyphicon glyphicon-map-marker"></span>
                    <span class="highlight">Город: {{ filter.city|title }}</span>
                </section>
                </div>
            {% endif %}
            {% if filter.topics %}
                <div class="row">
                <section class="col-md-8">
                    <span class="highlight">Обсуждаемые темы: </span>
                    {% for topic in filter.topics.all %}
                        <span class="label label-info"> {{ topic }} |</span>
                    {% endfor %}
                </section>
                </div>
            {% endif %}
            {% if filter.start_range %}
                <div class="row">
                <section class="col-md-8">
                    <span class="glyphicon glyphicon-calendar"></span>
                    <span class="highlight">{{ filter.start_range|date:"d M Y" }} ({{ filter.start_range|time:"H:i" }})</span>
                </section>
                </div>
            {% endif %}
            {% if filter.end_range %}
                <div class="row">
                <section class="col-md-8">
                    <span class="glyphicon glyphicon-calendar"></span>
                    <span class="highlight">{{ filter.end_range|date:"d M Y" }} ({{ filter.end_range|time:"H:i" }})</span>
                </section>
                </div>
            {% endif %}
        </div>
            {% if not forloop.last %}<hr>{% endif %}
        {% endfor %}
    {% else %}
        <div class="col-md-12 col-md-offset-1">
            <h1><span class="glyphicon glyphicon-wrench"></span> Сохраненные фильтры не найдены.</h1>
        </div>
    {% endif %}
    </div>
</div>

{% endblock %}