<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
{#    {% load staticfiles %}#}
{#    {% load static %}#}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">

<!-- Optional theme -->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap-theme.min.css" integrity="sha384-6pzBo3FDv/PJ8r2KRkGHifhEocL+1X2rVCTTkUfGk7/0pbek5mMa1upzvWbrUbOZ" crossorigin="anonymous">

<!-- Latest compiled and minified JavaScript -->
<script src="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js" integrity="sha384-aJ21OjlMXNL5UyIl/XNwTMqvzeRMZH2w8c5cRVpzpU8Y5bApTppSuUkhZXN0VxHd" crossorigin="anonymous"></script>
    {% if form %}
    {{ form.media }}
    {% endif %}
    {% block extracss %}{% endblock %}
    <title>{% block title %}My title{% endblock %}</title>
</head>

<body>
    <header>
        <nav class="navbar navbar-inverse navbar-fixed-top">
            <div class="container">
                <div class="navbar-header">
                    {% if user.is_authenticated %}
                        <a class="navbar-brand" href="/" ><span class="glyphicon glyphicon-home"></span>{{ user.username }}</a>
                    {% else %}
                        <a class="navbar-brand" href="/" ><span class="glyphicon glyphicon-home"></span> City Events </a>
                    {% endif %}
                </div>
                <div id="navbar" class="collapse navbar-collapse">
                    <ul class="nav navbar-nav">
                        <!-- <li {% if active == "home" %}class="active"{% endif %}><a href="/">Home</a></li> -->
                        <!-- <li {% if active == "home" %}class="active"{% endif %}><a href="/#about">About</a></li> -->
                        <li {% if active == "events" %}class="active"{% endif %}><a href="/events/">Все события</a></li>
                        <li {% if active == "filter" %}class="active"{% endif %}><a href="/filter/">Задать фильтр</a></li>
                        {% if user.is_authenticated %}
                             <li {% if active == "new_event" %}class="active"{% endif %}><a class="p-2 text-dark" href="{% url 'new_event' %}">Новое событие</a>
                             <li {% if active == "my_filters" %}class="active"{% endif %}><a class="p-2 text-dark" href="{% url 'my_filters' %}">Мои фильтры</a>
                             <li {% if active == "my_notify" %}class="active"{% endif %}><a class="p-2 text-dark" href="{% url 'my_notify' %}">Уведомления {{ user.notifies.count }}</a>
                             <li {% if active == "password_change" %}class="active"{% endif %}><a class="p-2 text-dark" href="{% url 'password_change' %}">Изменить пароль</a>
                             <li {% if active == "logout" %}class="active"{% endif %}><a class="p-2 text-dark" href="{% url 'logout' %}">Выйти</a>
                        {% else %}
                             <li {% if active == "login" %}class="active"{% endif %}><a class="p-2 text-dark" href="{% url 'login' %}">Войти</a>
                             <li {% if active == "signup" %}class="active"{% endif %}><a class="p-2 text-dark" href="{% url 'signup' %}">Регистрация</a>
                        {% endif %}
                    </ul>
                </div><!--/.nav-collapse -->
            </div>
        </nav>
    </header>
    <div class="container-fluid">
    <h1 class="text-center tk-cooper-black-std"> </h1>
    </div>
    <div class="container-fluid">
    <h1 class="text-center tk-cooper-black-std"> </h1>
    </div>
        <div class="container-fluid">
    <h1 class="text-center tk-cooper-black-std"> </h1>
    </div>
    <div class="container-fluid">
    <h1 class="text-center tk-cooper-black-std"> </h1>
    </div>

    {% block content %}{% endblock %}

    <footer>
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-5 col-md-offset-4 text-center">
                    <p class="small">2021 City Events, All Rights Reserved.</p>
                </div>
            </div>

        </div>
    </footer>

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://code.jquery.com/jquery-1.12.4.min.js" integrity="sha384-nvAa0+6Qg9clwYCGGPpDQLVpLNn0fRaROjHqs13t4Ggj3Ez50XnGQqc/r8MhnRDZ" crossorigin="anonymous"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js" integrity="sha384-aJ21OjlMXNL5UyIl/XNwTMqvzeRMZH2w8c5cRVpzpU8Y5bApTppSuUkhZXN0VxHd" crossorigin="anonymous"></script>
    {% block extrajs %} {% endblock %}
</body>
</html>